<ion-header>
  <ion-toolbar color="dark">
    <ion-title>Juspay SDK Integration Demo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <p>Juspay Payments SDK should be initiated on this screen.</p>
    </ion-card-content>
  </ion-card>

  <div *ngFor="let product of products">
    <ion-item>
      <ion-label>
        <h2>{{ product.name }}</h2>
        <p>Price: Rs. {{ product.price }}/item {{ product.description }}</p>
      </ion-label>
      <ion-button fill="outline" (click)="decreaseQuantity(product)">-</ion-button>
      <span style="margin: 0 10px;">{{ product.quantity }}</span>
      <ion-button fill="outline" (click)="increaseQuantity(product)">+</ion-button>
    </ion-item>
  </div>

  <ion-button style="padding: 16px; width: 100%;" expand="full" color="primary" (click)="goToCart()">Go to Cart</ion-button>
</ion-content>
