ion-content {
  padding: 16px;
}

ion-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}

ion-button {
  font-size: 18px;
  height: 40px;
  width: 40px;
  padding: 0;
  text-align: center;
}
